<p>list-annonces works!</p>
<div *ngFor="let annonce of annonces">
    <div *ngIf="annonce.etat == 'confirme'" style="background-color: green;">
        {{annonce.titre}}<br>
        {{annonce.description}}
        <p>****************************************************</p>
    </div>

    <div *ngIf="annonce.etat == 'en attente'" style="background-color: yellow;">
        {{annonce.titre}}<br>
        {{annonce.description}}
        <p>****************************************************</p>
    </div>
    
</div>